* {
    color: rgb(0, 0, 0);
}


/******* stylos sidebar****** */


.icon-style {
    position: absolute;
    top: 44px;
    /* Ajusta la posición vertical según sea necesario */
    transition: left 0.3s ease;
    /* Suaviza el movimiento del botón */
    z-index: 1000;
    /* Asegura que el botón se mantenga visible */
    background-color: #F56606;
    /* Color de fondo del botón */
    border-radius: 100%;
    /* Cambiamos el estilo del botón para hacerlo más circular */
    width: 40px;
    /* Ancho del botón */
    height: 40px;
    /* Alto del botón */

}

.container-sidebar {
    background-color: rgb(241, 241, 241) !important;
    min-height: 100vh;
    transition: width 0.3s ease;
    position: relative;
    color: red;
}


.sidebar nav ul li a:hover {
    background-color: #F56606 !important;
}


/*
button{
    background-color: #F56606 !important;
    border: solid 1px #F56606 !important;
} */

.boton-navbar {

    left: 157px;
}


.color-primario {
    border: 1px solid #F56606;
    color: white;
    background-color: #F56606;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Agrega una transición suave */
}

.color-primario-border{
    border: 4px solid #F56606 !important;
}

.color-primario:hover {
    background-color: #FF7F24; /* Color de fondo ligeramente más claro para el hover */
    border-color: #FF7F24; /* Cambia también el color del borde en hover */
    color: white;
}





input[type="text"]  {
    /* border: 2px solid #F56606; */
    padding: 10px;
    border-radius: 5px;
    outline: none;
}


input[type="text"] :focus {
    border-color: #FF7F24 !important; /* Color más claro al hacer focus */
    box-shadow: 0 0 5px rgba(245, 102, 6, 0.5); /* Sombra al hacer focus */
}














/* Estilo para iPhone 12 Pro en modo vertical */
@media only screen and (max-width: 390px) and (max-height: 844px) {

    /* Estilos específicos para el iPhone 12 Pro */
    .catainer-responsy {
        padding-top: 12px;
    }

    .boton-navbar {
        top: 45px;
        left: 113px;
    }

}


.loading-screen,
.loading-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: Arial, sans-serif;
  font-size: 2rem;
  color: #343a40;
  z-index: 1000;
}
